.nav {
  background-color: #75B1A9;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.UkraineHeader{
  padding-right: 20px;
}

.item a {
  color: #ffffff;
  text-decoration: none;
}

.item a.active {
  color: darkblue;
}